html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a, a:hover, a:active {
  color: #ffffff !important;
  outline:none;
  /*text-decoration: underline;*/
}
.navbar-default .navbar-nav>li>a {
    color: #777 !important;
}
.container {
    width: auto;
    padding: 0;
}
.glyphicon {
  color: #ffffff;
}
nav.navbar {
  z-index: 9999999;
}
.col-lg-12 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    bottom: 0;
}
a.up.carousel-control {
    position: fixed;
    left: calc(50% - 20px);
    top: 0px;
    font-size: 40px;
    cursor: pointer;
    color: #ddd;
    z-index: 9999999;
}
a.up.carousel-control:hover {
  top: 3px;
  color: #fff;
}
a.down.carousel-control {
  cursor: pointer;
    position: fixed;
    top: auto;
    left: calc(50% - 20px);
    bottom: 10px;
    font-size: 40px;
    color: #ddd;
    z-index: 9999;
}
a.down.carousel-control:hover {
  bottom: 13px;
  color: #fff;
}
.carousel-indicators {
    bottom: 50px;
    margin-left: 4px;
}
section .container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  width: 75%;
  height: 100%;
  /*overflow: hidden;*/
}
.navbar-default {
      background-color: transparent;
    border-color: transparent;
}
.navbar-default ul.navbar-nav li {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
h1.section-title {
    margin-top: 0;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    color: #4a4a4a;
    width: auto;
    font-size: 28px;
    position: absolute;
    margin-left: 241px;
}
.side-panel {
  background: rgba(51, 51, 51, 0.65);
  height: 100%;
  position: absolute;
  width: 25%;
  display: block;
  right: 0;
  z-index: 999999;
  padding-top: 150px;
  color: #fff;
}
.side-panel.blurb {
    background: rgba(51, 51, 51, 0.65);
    height: auto;
    position: absolute;
    width: 25%;
    display: block;
    z-index: 999999;
    padding-top: 0;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 25px;
}
.ug-cross .side-panel.blurb {
    bottom: 0;
}
#intro p {
    margin-bottom: 50px;
}
.quote {
  font-size: 1.5em;
  font-family: serif;
  font-style: italic;
  width: 50%;
  color: #000;
  margin: 0 auto;
  margin-top: 100px;
}
img.diagram {
    height: 200px;
    clear: both;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}
.carousel {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  overflow: hidden;
}

.carousel-control {
  color: #000000 !important;
  background: none !important;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  height: 45px;
  width: 45px;
  font-size: 20px;
}

.carousel-indicators {
  width: 100%;
  padding-right: 25%;
  left: 0;
  margin-left: 0;
}

.carousel-indicators li {
  border: 1px solid #333;
}

.carousel-control.right {
  right: 25% !important;
}

.carousel-indicators .active {
  background-color: #000;
}

.col-lg-12 {
  margin: 0;
  padding: 0;
}

.col-lg-12.main {
  padding-top: 100px;
}

.col-lg-12.main h1 {
  background: transparent;
}

.intro-section {
  height: 100%;
  text-align: center;
  background: #a1dbff;
}

.sky-section {
  height: 100%;
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a1dbff+0,cbebff+53,f0f9ff+100 */
  background: #a1dbff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a1dbff 0%, #cbebff 53%, #f0f9ff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a1dbff 0%, #cbebff 53%, #f0f9ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a1dbff 0%, #cbebff 53%, #f0f9ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#f0f9ff', GradientType=0);
  /* IE6-9 */
}

.ground-section {
  height: 100%;
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,edf8ff+47,f2faff+100 */
  background-color: #f0f9ff;
  /* Old browsers */
  background-color: -moz-linear-gradient(top, #f0f9ff 0%, #edf8ff 47%, #f2faff 100%);
  /* FF3.6-15 */
  background-color: -webkit-linear-gradient(top, #f0f9ff 0%, #edf8ff 47%, #f2faff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background-color: linear-gradient(to bottom, #f0f9ff 0%, #edf8ff 47%, #f2faff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#f2faff', GradientType=0);
  /* IE6-9 */
}

.underground-section {
    height: 100%;
    text-align: center;
    background: url(../images/soil.png) repeat center center transparent;
    background-position: center center;
    background-size: initial;
}

.deep-underground-section {
  height: 100%;
  text-align: center;
  background: url(../images/transition-ground-underground.png) no-repeat left bottom transparent;
  background-position: 0px bottom;
  background-size: cover;
}
