.buses {
	background-image: url(../images/road.svg);
    background-repeat: repeat-x;
    background-color: transparent;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.bus {
    background: red;
    width: 10px;
    height: 10px;
    float: left;
    margin: 3px;
}
.bus span {
    display: none;
}