.tubes {}

.tube {
  text-align: left;
  text-indent: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tube span {
  /*mix-blend-mode: difference;*/
  color: #ffffff;
}

.tube-Bakerloo {
  background-color: #B36305;
}

.tube-Central {
  background-color: #E32017;
}

.tube-Circle {
  background-color: #FFD300;
}

.tube-District {
  background-color: #00782A;
}

.tube-DLR {
  background-color: #00A4A7;
}

.tube-Hammersmith-and-City {
  background-color: #F3A9BB;
}

.tube-Jubilee {
  background-color: #A0A5A9;
}

.tube-Metropolitan {
  background-color: #9B0056;
}

.tube-Northern {
  background-color: #000000;
}

.tube-Overground {
  background-color: #EE7C0E;
}

.tube-Piccadilly {
  background-color: #003688;
}

.tube-Tramlink {
  background-color: #84B817;
}

.tube-Victoria {
  background-color: #0098D4;
}

.tube-Waterloo-and-City {
  background-color: #95CDBA;
}
