html, body{
	height:100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
}


.sky{
	position: absolute;
	/*height: 100%;*/
	background: skyblue;
}

.cloud1{
	position:absolute;
}
.cloud1:nth-child(1){
	/*width:200px;*/
	top: 0px;
	animation: wind 40s linear infinite reverse;
}

.cloud1:nth-child(2){
	/*width:100px;*/
	top:0;
	animation: wind 50s linear infinite reverse;
}

.cloud2{
	position:absolute;
	width:200px;
	top: 5px;
	animation: wind 40s linear infinite reverse;
}

/*keyframes*/
	@keyframes drive{
		from{ transform: translateX(-100px); }
		to{ transform: translateX(1000px); }
	}

	@keyframes wind{
		from{left: -300px;}
		to{left: 100%;}
	}

	@keyframes jump{
		0%{top:-40px;}
		50%{top: -100%;}
		100%{top: -40px;}
	}



